.navbar{
    width: 100%;
    height: 60px;
    background-color: rgb(5, 136, 153);
    border: none;
    border-bottom: 5px solid #72c209;
    box-shadow: 5px 1px 5px 5px  rgb(255, 255, 255);
    position: relative;
    overflow: hidden;
}
.navbar img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    position: absolute;
    top:-47px;
    left: 20px;
}
.navbar h2{
    position: absolute;
    top: -5px;
    left: 160px;
    color:rgb(255, 255, 255);
    font-weight: bold;
    font-family: sans-serif;
}
.navbar h1{
    position: absolute;
    top: -30px;
    right:-70px;
    color:rgb(255, 255, 255);
    font-weight: bold;
    font-family: sans-serif;
}
.navbar span{
    color: #72c209;
    position: absolute;
    top: 4px;
    left: -16px;
}

.navbar h1 img{
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.buttons-nav{
    width: 60%;
    position: absolute;
    top: 15px;
    left:600px;
    display: flex;
}

.buttons-nav .link{
    width:15%;
    color:rgb(255, 255, 255);
    text-decoration: none;
    font-size: large;
    font-weight: bolder;
    transition: .4s ease;
    padding-right: 10px;

}
.link:hover{
    transform: scale(1.1);
}
.link1:hover{
    transform: scale(1.1);
}
.sign-up-none{
    display: none;
}
.sign-up-display{
    display: inline;
    color:rgb(255, 255, 255);
    text-decoration: none;
    font-size: large;
    font-weight: bolder;
    transition:  .4s ease;
}
.Login-display{
    display: inline;
    color:rgb(255, 255, 255);
    text-decoration: none;
    font-size: large;
    font-weight: bolder;
    transition: .4s ease;
}
.login-none{
    display: none;
}
.Login-display:hover{
    transform: scale(1.1);
} 

.sign-up-display:hover{
transform: scale(1.1);
}
.divs-Bar{
    position: absolute;
    left: 230px;
    width: 300px;
    display: flex;
    justify-content:space-evenly;
}
.divs-Bar .link{
    width: 70%;
    text-align: center;
    padding-left: 10px;
}
.divs-Bar  h1 {
position: absolute;
left: 400px;
font-size: 20px;
top:-16px;
width: 70px;
height: 30px;
border-bottom: 4px solid rgb(255, 255, 255);
text-align: center;
color: rgb(52, 241, 5);
}
.divs-Bar img{
position: absolute;
top: -6px;
left:100px;
transition: .4s ease-in-out;
}

.divs-Bar img{
    transform: scale(1.1);
}
.button-logout{
    background-color: transparent;
    color:rgb(255, 255, 255);
    font-size: large;
    font-weight: bolder;
    transition: .4s ease;
    border: none;
    position: absolute;
    left: 300px;
    top:4px
}
.button-logout:hover{
    transform: scale(1.1);
    }