.navbar{
    width: 100%;
    height: 60px;
    background-color: blueviolet;
    border: none;
    border-bottom: 5px solid rgb(234, 10, 241);
    box-shadow: 5px 1px 5px 5px blueviolet;
    position: relative;
    overflow-x: hidden;
}
.navbar img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: absolute;
    top:5px;
    left: 90px;
}
.navbar h2{
    position: absolute;
    top: -5px;
    left: 160px;
    color:rgb(187, 218, 9);
    font-weight: bold;
    font-family: sans-serif;
}
.navbar h1{
    position: absolute;
    top: -30px;
    right:-70px;
    color:rgb(187, 218, 9);
    font-weight: bold;
    font-family: sans-serif;
}

.navbar h1 img{
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.buttons-nav{
    width: 60%;
    position: absolute;
    top: 15px;
    left:600px;
    display: flex;
}

.buttons-nav .link{
    width:15%;
    color:rgb(187, 218, 9);
    text-decoration: none;
    font-size: large;
    font-weight: bolder;
    transition: .4s ease;

}
.link:hover{
    transform: scale(1.1);
}
.link1:hover{
    transform: scale(1.1);
}
.sign-up-none{
    display: none;
}
.sign-up-display{
    display: inline;
    color:rgb(187, 218, 9);
    text-decoration: none;
    font-size: large;
    font-weight: bolder;
    transition:  .4s ease;
}
.Login-display{
    display: inline;
    color:rgb(187, 218, 9);
    text-decoration: none;
    font-size: large;
    font-weight: bolder;
    transition: .4s ease;
}
.login-none{
    display: none;
}
.Login-display:hover{
    transform: scale(1.1);
} 

.sign-up-display:hover{
transform: scale(1.1);
}
.divs-Bar{
    position: absolute;
    left: 230px;
    width: 300px;
    display: flex;
    justify-content:space-evenly;
}
.divs-Bar .link{
    width: 70%;
    text-align: center;
}
.divs-Bar  h1 {
position: absolute;
left: 400px;
font-size: 20px;
top:-16px;
width: 70px;
height: 30px;
border-bottom: 4px solid pink;
text-align: center;
color: rgb(209, 209, 12);
}
.divs-Bar  img{
position: absolute;
top: -6px;
}

.button-logout{
    background-color: transparent;
    color:rgb(187, 218, 9);
    font-size: large;
    font-weight: bolder;
    transition: .4s ease;
    border: none;
    position: absolute;
    left: 300px;
    top:4px
}
.button-logout:hover{
    transform: scale(1.1);
    }