.App {
  width: 100%;
  min-height: 100vh;
  background-image: url("../../../picture/vector-online-shopping-web-banner.jpg");
  background-repeat: no-repeat;
  background-position:bottom;
  background-size:cover;
  overflow-y: hidden;
}
