.App {
  width: 100%;
  min-height: 100vh;
  background-image: url("https://wallpapercave.com/wp/wp1877599.jpg");
  background-repeat: no-repeat;
  background-position:left;
  background-size:cover;
  overflow: hidden;
}
