.pageCart{
    width: 100%;
    min-height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr ;
    gap:20px;
    overflow-x: hidden;
    position: relative;
}
.product-add{
    width: 200px;
    height: 340px;
    background-color: rgb(215, 227, 236);
    border-radius: 15px;
    margin: auto;
    overflow: hidden; 
    box-shadow: 1px 2px 3px 5px #ffffff;
    transition: .4s ease;
    box-shadow: 1px 2px 3px 5px rgb(5, 136, 153);
    position: relative;
}

.imgProduct-2{
    width: 100%;
    height: 50%;
}
.imgProduct-2 img{
    width: 100%;
    height: 100%;
}

.product-add h1{
    text-align: center;
    font-size: 18px;
    font-weight: bolder;
    border-radius:0 20px 20px 0;
    color:rgb(5, 136, 153);
}

.product-add h2 ,p{
    margin:5px 10px 3px 10px;
    font-size: 16px;
    font-weight: bolder;
    color: rgb(5, 136, 153);
    padding-bottom: 5px;
}
.product-add button{
    position: absolute;
    bottom: 25px;
    left: 50%;
    width: 90px;
    border-radius: 10px;
    padding: 10px;
    background-color: rgb(224, 4, 4);
    color: rgb(253, 253, 253);
    border: 3px solid rgb(5, 136, 153);;
    font-weight: bolder;
    transition: .4s ease;
    cursor: pointer;
}

.product-add button:hover{
    transform: scale(1.1);
    box-shadow: 1px 2px 3px 3px rgb(235, 12, 4);;
}
.massege-sure-hidden{
    display: none;
}

.massage-sure-display{
    height: 130px;
    width: 400px ;
    align-items: center;
    text-align: center;
    background-color: rgb(238, 245, 238);
    position: absolute;
    top:100px;
    right: 450px;
    border-radius: 20px;
    border:  3px solid rgb(5, 136, 153);
    box-shadow: 2px 2px 4px 4px #ffffff;
    z-index: 1;
}
.massage-sure-display button{
    width: 90px;
    border-radius: 10px;
    padding: 10px;
    color: rgb(12, 143, 8);
    border: 3px solid rgb(5, 136, 153);;
    font-weight: bolder;
    transition: .4s ease;
    cursor: pointer;
    margin: 20px;
    
}

.massage-sure-display button:hover{
    transform: scale(1.1);
}