.Login-cart {
    width: 400px;
    height: 400px;
    background-color: rgb(152, 197, 236);
    margin: 61px 0 auto 30px;
    border-radius: 30px;
    border: 12px solid rgb(159, 14, 140);
    box-shadow: 1px 1px 1px 1px #444;
}

.Login-cart h1 {
    text-align: center;
    color: rgb(234, 10, 241);
    font-family: sans-serif;
    font-weight: bolder;
}

.Login-cart input {
    display: block;
    width: 80%;
    padding: 30px;
    margin:20px auto 0 auto;
    border: none;
    border-radius: 5px;
    border-bottom: 5px solid rgb(234, 10, 241);
    color: blueviolet;
}

::placeholder {
    color: rgb(219, 49, 235);
    opacity: .9;
    font-weight: bolder;
    text-align: center;
}


.Login-cart button {
    margin: 25px 0 0 40px;
    width: 320px;
    padding: 15px;
    border-radius: 5px;
    border: none;
    background-color: rgb(195, 18, 195);
    font-size: large;
    font-weight: bolder;
    font-family: sans-serif;
    color: rgb(255, 255, 255);
    transition: .3s ease-in-out;
    cursor: pointer;
}

.Login-cart button:hover {
    transform: scale(1.1);
}

.Login-cart p {
    width: 100%;
    height: 35px;
    color: red;
    font-size: large;
    font-weight: bold;
    text-align: center;
}